/*
* block the invisible div element on the previous page of blogspot
*/
@-moz-document regexp("https?://.*\.blogspot\..*") {
	div[class="blogger-clickTrap singleton-element"] {
		display: none;
	}
}

/*
* block the youtube advertising above the related list
*/
@-moz-document regexp("https?://.*youtu\.?be.*") {
	div[id="player-ads"] {
		display: none;
	}
}
